<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HamroBazaar Automation Test Suite" parallel="false" thread-count="1" verbose="1">

    <parameter name="browser" value="chrome"/>
    <parameter name="headless" value="false"/>

    <listeners>
        <listener class-name="com.hamrobazaar.utils.ExtentReportListener"/>
    </listeners>

    <!-- Test 1: Monitor search, Low to High sort -->
    <test name="Monitor Search Test" preserve-order="true">
        <classes>
            <class name="com.hamrobazaar.tests.SearchResultsTest">
                <methods>
                    <include name="testCompleteSearchFlowInOneSession"/>
                </methods>
            </class>
        </classes>
    </test>

    
    <test name="Car and Book Search Tests" preserve-order="true">
        <classes>
            <class name="com.hamrobazaar.tests.CarAndBookTest">
                <methods>
                    <include name="testCarSearch"/>
                    <include name="testBookSearch"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>